appdirs
astroid
attrs
black
Click
Flask
Flask-Cors
Flask-MySQL
Flask-MySQLdb
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mysqlclient
pathspec
PyJWT
pylint
PyMySQL
python-dotenv
regex
six
toml
typed-ast
Werkzeug
wrapt
